body {
    background-color: lightgray;
  }
  
  .show, .nope {
    display: none;
  }
  
  .login {
    border: 2px solid black;
    text-align: center;
    margin-left:60px;
    margin-right:60px;
    margin-top:100px;
    background-color: gray;
    color:white;
  }
  .hi {
    display:none;
  }